body{
  overflow-x: hidden;
  font-family: 'NewTitle-Variable', Avenir Next Condensed, Arial Narrow, Impact, sans-serif; 
}


/* Add your CSS styles here */
#heading_sub_text {
    clear: both; /* Clear floats */
}

img {
    width: 10%; /* Set the width of the image */
    float: left; /* Float the image to the left */
    margin: 0px 10px 10px 0px; /* Margin for spacing */
}

#sub_text {
    display: block; /* Ensure the text is treated as a block element */
}



#header li {
    float: left; /* Align items horizontally */
    margin-right: 20px; /* Space between items */
}

#heading_sub_text{
    position: relative;
    left: 35%;
}



img {
    border: 1px solid #ccc; /* Add a gray border */
    padding: 3px; /* Add some padding inside the border */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Add a gray shadow */
    border-radius: 5px; /* Optional: Add rounded corners */
}

#image_size{
  width: 30%;
  margin: 0px 10px 10px 30px; /* Margin for spacing */
}

/* timeline styling */

#timeline_header{
    display: flex;
    justify-content: center;
    font-weight: bold; 
    font-size: 3cap; 
    align-items: center;
    position: relative;
    top: 9vh;
    font-family: 'NewTitle-Variable', Avenir Next Condensed, Arial Narrow, Impact, sans-serif; 
    text-decoration: underline;
}

  
  /* footer css */
#footer_about{
    position: relative;
    bottom: 0vh;
  }

  .grid-wrapper {
    display: flex;
    justify-content: center; /* Center the grid-container horizontally */
}

.grid-container { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 700px; /* Adjust width as needed */
    margin: 80px 0; /* Adjust margin as needed */
    font-family: 'NewTitle-Variable', Avenir Next Condensed, Arial Narrow, Impact, sans-serif;
} 

.grid-container-2{
  float: left;  
  margin-right: 20px; 
  display: block; 
  font-size: 26px;
}

.grid-card { 
    background-color: #333; 
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px gray;
    border-radius: 8px; 
    overflow: hidden; 
    text-align: center; 
    padding: 10px; 
    color: white;
} 

.grid-card-2{
  background-color: white;
}

.grid-card img { 
    max-width: 100%; 
    height: auto; 
    border-bottom: 1px solid #ddd; 
}

.grid-card p { 
    margin: 10px 0 0; 
    font-size: 16px; 
    font-weight: bold;
}

/* hamburger styling */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #333;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #333;
  color: white;
}

#myLinks a:hover{
  text-decoration: underline;
}

.topnav{
  display: none;
}



